body {
  background-color: rgb(20, 133, 133);
  font-family: "Roboto", sans-serif;
}

.input-cont {
  width: 70%;
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

input {
  height: 20px;
  width: 40%;
  padding: 5px 10px;
  outline: none;
  font-size: 16px;
}

button {
  width: 70px;
  cursor: pointer;
  outline: none;
}
.uppateBtn {
  display: none;
}
@media (max-width: 425px) {
  .input-cont {
    width: 95%;
  }
  input {
    width: 50%;
  }
}

.main-cont {
  margin: 0 auto;
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin-top: 40px;
}
.status-cont {
  width: 300px;
  min-height: 300px;
  margin: 0 5px 20px;
  background-color: #fff;
  box-shadow: 5px 5px 15px -6px #000000;
}
@media (max-width: 768px) {
  .main-cont {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#inProgress h2 {
  background-color: orange;
}
#onHold h2 {
  background-color: red;
}
#inReview h2 {
  background-color: yellow;
}
#completed h2 {
  background-color: green;
}

h2 {
  background-color: royalblue;
  margin: 0 auto;
  text-align: center;
  padding: 15px;
}
.info {
  color: #fff;
  text-align: center;
  font-size: 22px;
}
.task {
  cursor: pointer;
  text-align: left;
  margin: 0;
  font-weight: 400;
  padding: 20px 10px;
  border-bottom: 1px solid rgb(153, 153, 153);
  color: rgb(110, 109, 109);
  font-size: 18px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
}
.task p {
  margin: 0;
}
.task:hover {
  color: #fff;
  background-color: rgb(9, 54, 54);
}
i {
  margin: 0 5px;
  font-size: 15px;
}
.fa-edit:hover {
  color: green;
}
.fa-trash:hover {
  color: red;
}
